[Service]
ExecStart=/usr/bin/node /usr/local/bin/plain_blog.js
WorkingDirectory=/usr/local/share/plain_blog/
User=node
Group=node
StandardOutput=journal
StandardError=journal
EnvironmentFile=/etc/environment
SyslogIdentifier=plain_blog.js
Restart=always

[Install]
WantedBy=multi-user.target
