@font-face {
	font-family: Alfa Slab One;
	src: url("/static/AlfaSlabOne.ttf");
}

@font-face {
	font-family: Adamina;
	src: url("/static/Adamina.ttf");
}

body, html { min-height: 100%; }

body {
	padding: 0;
	margin: 1em auto;
	background-color: #edb;
	color: #532;
	max-width: 40em;
	font-size: 12px;
}

p {
	padding: 0;
	margin: 0;
	margin-bottom: 1em;
	line-height: 1.5em;
}

a {
	color: #c22;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1,h2,h3 {
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 200%;
}

h2 {
	font-size: 150%;
}

h3 {
	font-size: 125%;
}

img {
	max-width: 100%;
}

blockquote {
	border-left: solid 0.5em #532;
	margin: 0;
	padding: 0;
	margin-left: 1em;
	padding-left: 1em;
	border-radius: 1em;
}

header {
	text-align: center;
	border-bottom: dotted 1px #532;
}

header > img {
	display: block;
	margin: auto;
	border-radius: 150px;
	border: solid 11px #532;
}

header > h1 {
	display: inline-block;
	vertical-align: center;
	padding: 0;
	margin: 0;
	font-size: 200%;
}

header > h2 {
	font-size: 100%;
	font-weight: normal;
	padding: 1em;
	margin: 0;
}

main {
	border-bottom: dotted 1px #532;
	padding: 1em 0;
}

article {
	border-bottom: dotted 1px #532;
	padding-bottom: 1em;
}

article:last-of-type {
	border-bottom: none;
	padding-bottom: 0;
}

article > h1, main > h1 {
	margin-bottom: 0.5em;
}

a.readmore {
	display: block;
	font-size: 150%;
	margin: 1em;
	text-align: center;
}

.categories > a {
	margin-right: 1em;
}

.categories > a:last-of-type {
	margin-right: 0;
}

nav {
	text-align: center;
}

nav a {
	font-size: 500%;
	margin: 0.2em;
}

.empty {
	text-align: center;
}
.empty a {
	font-size: 200%;
	margin: 1em;
}
